@page "{idEvaluador}"
@model desafiodtc_backend.Pages.Evaluador.Id

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Evaluador</title>
</head>
<body>
<div>
    <h1>Evaluador con Id: @Model.idEvaluador</h1>
</div>
</body>
</html>