@page
@model desafiodtc_backend.Pages.Evaluador.Todos

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Evaluadores</title>
</head>
<body>
<div>
    <h1>Todos los evaluadores</h1>
</div>
</body>
</html>