@page "{id}"
@model EquipoIdModel

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Equipo id</title>
</head>
<body>
<div>
    <h1>Página para el equipo con ID: @Model.Id</h1>
</div>
</body>
</html>
