@page
@model desafiodtc_backend.Pages.Equipo.Todos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Equipos</title>
</head>
<body>
<div>
    <h1>Todos los equipos</h1>
</div>
</body>
</html>