@page "{idEvaluador}"
@model desafiodtc_backend.Pages.Prototipo.Index

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Evaluación de prototipo</h1>
    <h2>Identificado como el evaluador: @Model.idEvaluador</h2>
</div>
</body>
</html>