@page "{idEvaluador}"
@model desafiodtc_backend.Pages.Presentacion.Index

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Evaluaci贸n de presentaci贸n</title>
</head>
<body>
<div>
    <h1>Evaluaci贸n de presentaci贸n</h1>
    <h2>Identificado como el evaluador: @Model.idEvaluador</h2>
</div>
</body>
</html>