.container-app{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container-barra-navegacion{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-contenido{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 90vh;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.container-footer{
  min-width: 100vw;
  max-width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}